<clr-stack-view>
  <clr-stack-header>Angular stack view</clr-stack-header>


  <clr-stack-block [clrSbExpanded]="true" [clrStackViewLevel]="1" [clrStackViewSetsize]="3" [clrStackViewPosinset]="2"
    *ngFor="let item of groupItems">
    <clr-stack-label>{{item.group_name}}</clr-stack-label>
    <clr-stack-content></clr-stack-content>
    <clr-stack-block *ngFor="let subItem of item.items" [clrStackViewLevel]="2" [clrStackViewSetsize]="3"
      [clrStackViewPosinset]="1">
      <clr-stack-label>{{subItem.job_process_name}}</clr-stack-label>
      <clr-stack-content><input clrInput type="text"></clr-stack-content>
    </clr-stack-block>


  </clr-stack-block>
</clr-stack-view>